div.defaultFont {
    font-family: Helvetica, Arial, sans-serif;
}
    
div.secondaryFont {
    font-family: serif;
}

h3 {
    color: blue;
}

.links_ul {
    list-style-type: none;
}

.links_li {
    display: inline;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}